extends layout
block body

  nav
    a link to homepage
    a link to mypage
  div.row
    div.welcome
      Hi #{user.name}, welcome to counterFitter

  div.row
    div.eight-columns.tweets
    each val in #{tweets}
      div.tweet.twelve-columns
        p.user-name val.name
        p.tweet-text val.tweet
        p.tweet-data val.createdAt

  div.avatar.two-columns
    img(src="#{imageUrl}")

  div.user-info
    p User details:
    p.user-name ${user.name}
