extends layout
body
  block body

    nav
      a link to homepage
      a link to mypage

    div.row
      div.eight-columns.tweets
        div.tweet.twelve-c
        p hello



      div.avatar

      div.user-info
