extends layout

block body
  div.place-holder
    img(src="http://content.sportslogos.net/logos/54/71/full/2307.gif")

  header
    h1 Welcome to counterFitter
  br
  h6 Sign up or Sign in Below.

  div.row
    div.eight-columns

      button.btn.new-user-btn.
        New User

      button.btn.login-btn.
        Login

  div.row
    div.eight-columns.forms
      div.new-user
        form(name="new-user", action="/new-user", method="post")
          input.new-username(type="text", name="name")
          input.url(type="text", name="imageUrl")
          input.password(type="text", name="password")
          input.submit-button(type="button", name="submit" value="add me!")

      div.login
        form(name="user", action="/find-user", method="post")
          input.new-username(type="text", name="name")
          input.password(type="text", name="password")
          input.submit-button(type="button", name="submit" value="add me!")


