extends layout

block body
  div.logo
    img(src="./images/counterfitter.png")

  header
    h1 Welcome to counterFitter
  br

  h4.message #{message}
  h6 Sign up or sign in below.

  div.row
    div.eight-columns

      button.btn.new-user-btn.
        New User

      button.btn.login-btn.
        Existing User

  div.row
    div.eight-columns.forms
      div.new-user
        form(name="new-user", action="/new-user", method="post")
          label Username
          input.new-username(type="text", name="name", placeholder="Enter username")
          br
          label Image URL
          input.url(type="text", name="imageUrl", placeholder="Enter image url")
          br
          Label Password
          input.password(type="password", name="password", placeholder="Enter password")
          br
          input.submit-button(type="submit", name="submit" value="Add me")

      div.login
        form(name="user", action="/user", method="post")
          label Username
          input.new-username(type="text", name="name", placeholder="Enter username")
          br
          label Password
          input.password(type="password", name="password", placeholder="Enter password")
          br
          input.submit-button(type="submit", name="submit" value="Login")


